:root {
    --drop-shadow-color: #bfd7c0;
    --topbar-item-color: #ffffff;
    --main-bg-color: #ffffff;
    --main-text-color: #d7bcab;
    --secondary-bg-color: #f0f7ea;
    --label-color: #d3baa5;
    --accent-color: #d5c8ac;
    --input-bg-color: #e8f0e2;
    --input-accent-color: #8fb87a;
    --input-alt-color: #f2f8ed;
    --input-highlight-color: #e7c2b0;
    --input-highlight-color-2: #8dd18f;
    --input-highlight-color-3: #ff0000;
    --input-highlight-text-color: #ffffff;
}